= form_for model do |f|
  - if model.errors.any?
    #error_explanation
      %h2= "#{pluralize(model.errors.count, "error")} prohibited this host from being saved:"
      %ul
        - model.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :working
    = f.check_box :working
  .field
    = f.label :period
    = f.select(:period, [['5 min', 5], ['15 min', 15]])
  .actions
    = f.submit 'Save'
