%p#notice= notice

%h1 Listing hosts

%table
  %thead
    %tr
      %th Name
      %th Working
      %th Period
      %th
      %th
      %th

  %tbody
    - model.each do |host|
      %tr
        %td= host.name
        %td= host.working
        %td= host.period
        %td= link_to 'Show', host
        %td= link_to 'Edit', edit_host_path(host)
        %td= link_to 'Destroy', host, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Host', new_host_path
